<form class="signup-form">
  <h2>Signup</h2>
  Email: <input type="text" name="email"/>
  Password: <input type="password" name="password"/>
  <input type="submit"/>
</form>

<form class="login-form">
  <h2>Login</h2>
  Email: <input type="text" name="email"/>
  Password: <input type="password" name="password"/>
  <input type="submit"/>
</form>